<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <!-- adding fontawesome image -->
                    <h1 class="mt-2 text-theme"><i class="fas fa-list"></i></h1>
                    <h2 class="text-theme">Category</h2>
                    <p class="para">  Manage Category Details Here</p>
                </div>
            </div>

        </div>
    </div>
</div>
