<div class="container">
    <div class="row">
        <div class=" col-md-12 bg-secondary p-5 shadow-effect">
            <h3 class="text-center text-theme"> New Categories</h3>
            <p class= "text-center mb-5"> Add Category</p>

            <!--creating the form-->
            <form class="form-inline text-center">
                <div class="form-group col-md-10">
                    <input type="text" class="form-control shadow-effect" placeholder="Add category" >
                </div>

                <div class="col-md-2">
                    <button class="btn btn-block btn-info mb-2">ADD</button>
                </div>
            
            </form>

        </div>
    </div>
</div>